# =========================
# Dependencies (ALL projects)
# =========================
node_modules/
**/node_modules/

# =========================
# Environment variables
# =========================
.env
.env.*
**/.env
**/.env.*

# =========================
# Secrets / credentials
# =========================
service-account-v2.json
**/service-account-v2.json
